{% load i18n %}
<footer class="container mx-auto text-center py-10 border-t">
    <div class="flex justify-center">
        {% trans 'Copyright' %} &copy; 2020 Airbnb Clone, Inc. {% trans 'All rights reserved' %}
    </div>
    <div class="flex justify-center mt-5">
        {% get_current_language as LANGUAGE_CODE %}
        <select class="w-1/5 h-8 p-0" id="js-lang">
            <option value="en" 
            {% if LANGUAGE_CODE == 'en' %}
                selected
            {% endif %}
                >English</option>
            <option value="ru" {% if LANGUAGE_CODE == 'ru' %}
            selected
        {% endif %} >Русский</option>
        </select>
    </div>
</footer>