    <ul class="flex items-center text-sm font-medium w-1/3 justify-end	">
        {% if user.is_authenticated %}
            <li class="ml-8 rounded-full p-3 hover:bg-gray-100 "><a href="{% url "users:logout" %}">Выйти из аккаунта</a></li>
        {% else %}
        <li class="ml-8 rounded-full p-3 hover:bg-gray-100 "><a href="{% url "users:login" %}">Войти в аккаунт</a></li>
        <li class="ml-8 rounded-full p-3 hover:bg-gray-100 "><a href="{% url "users:signup" %}">Регистрация</a></li>
        {% endif %}
    </ul>


