{% extends "base.html" %} 

{% block page_name %} All Rooms {% endblock page_name %} 

{% block content %} 

    <div class="container mx-auto">
        <div class="rounded-3xl bg-gray-800 h-50vh mt-12 mb-10 bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1480714378408-67cf0d13bc1b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80')"></div>

        <div class="flex flex-wrap">
            {% for room in rooms %}
                {% include 'partials/room_card.html' with room=room %}
                
            {% endfor %} 
        </div>
        
        <div class="flex items-center justify-center mx-auto text-sm font-medium paginator">
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}"><i class="fas fa-chevron-left"></i></a>
            {% else %}
                <span class="disabled text-gray-500"><i class="fas fa-chevron-left"></i></span>
            {% endif %}

            
            {% if page_obj.number > 2 %}
                <a href="?page=1">1</a> ...
            {% endif %}
                

            {% for page in page_obj.paginator.page_range %}
                
                {% if page == page_obj.number %}
                    <span class="active disabled">{{page}}</span>
                {% elif page > page_obj.number|add:'-2' and page < page_obj.number|add:'2'  %}
                    <a href="?page={{page}}">{{page}}</a>
                {% endif %}
                    
            {% endfor %}
             
            {% if page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
                ... <a href="?page={{page_obj.paginator.num_pages}}">{{page_obj.paginator.num_pages}}</a>
            {% endif %}

            {% if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number}}"><i class="fas fa-chevron-right"></i></a>
            {% else %}
                <span class="disabled text-gray-500"><i class="fas fa-chevron-right"></i></span>
            {% endif %}

        </div>
    </div>

{% endblock content %}
