{% extends "base.html" %} 

{% block page_name %} All Rooms {% endblock page_name %} 

{% block content %}
<div class="container max-w-full px-40 h-50vh mb-10 flex">
    <div class="h-full w-1/2 bg-cover bg-center mr-2" style="background-image: url('{{room.first_photo}}');"></div>
    <div class="grid grid-cols-2 grid-rows-2 w-1/2 gap-2">
        
        {% for photo in room.get_next_four_photos %}
            <div class="bg-cover bg-center" style="background-image: url('{{photo.file.url}}');"></div>
        {% endfor %}
            
    </div>
</div>
{% endblock %}