@tailwind base;
@tailwind components;

.search-box {
  transition: box-shadow 0.15s linear;
}

.navlink {
  @apply ml-8 rounded-full p-3;

  &:hover {
    @apply bg-gray-100;
  }
}

.paginator > * {
  @apply flex w-8 h-8 items-center justify-center mx-2 rounded-full;

  &:not(.disabled):hover {
    @apply bg-gray-100;
  }
}

.paginator > .active {
  @apply bg-black text-white;
}

.btn {
  @apply text-center rounded-lg py-3 text-sm font-medium w-full;
}

input,
textarea,
select {
  @apply rounded-lg w-full text-left border border-gray-500 px-2 py-4 font-normal text-base;

  &:focus {
    @apply outline-none border-black;
  }
}

textarea {
  resize: none;
  height: 100px;
}

select {
  height: 55px;
}

form {
  .input {
    &.has_error {
      input {
        @apply border-red-700 bg-red-200;
        &:focus {
          @apply border-red-700 bg-transparent;
        }
      }
    }
  }
}

@keyframes messagesFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  5% {
    opacity: 1;
    transform: translateY(80px);
  }
  95% {
    opacity: 1;
    transform: translateY(80px);
  }
  100% {
    opacity: 0;
    transform: translateY(-80px);
    display: none;
  }
}

.message__container {
  animation: messagesFadeIn 5s ease-in-out forwards;
}

.message {
  &.error {
    @apply bg-red-600;
  }
  &.info {
    @apply bg-blue-500;
  }
  &.success {
    @apply bg-green-500;
  }
  &.warning {
    @apply bg-yellow-400;
  }
}

.btn__link {
  @apply font-medium text-sm underline;
}

.user__info {
  @apply py-5 flex flex-col border-b border-gray-400;
  .user__header {
    @apply text-2xl font-medium py-5;
  }
}

.room__section {
  @apply flex flex-col w-full border-gray-400 border-b py-5;
  .room__section__title {
    @apply text-xl font-medium py-5;
  }
}

.room__host__avatar {
  div {
    @apply w-12 h-12;
    span {
      @apply text-xl;
    }
  }
}

@tailwind utilities;
