{% extends "base.html" %}

{% block page_name %}
    Вход в аккаунт
{% endblock page_name %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

<div class="container mx-auto lg:w-5/12 md:w-1/2 xl:w-1/4 flex flex-col items-center border p-6 border-gray-400 my-10">

    {% include 'partials/social_login.html' %}

    <form method="POST" action="{% url "users:login" %}">
        {% csrf_token %}
        {{form.as_p}}
        <button>Войти</button>
    </form>
        
</div>

{% endblock content %}