{% extends "base.html" %}

{% block page_name %}
   {{user.first_name}} {{user.last_name}}
{% endblock page_name %}


{% block content %}

<div class="flex px-56 my-10 min-h-75vh">
    <div class="flex w-2/5 flex-col px-6 py-10 items-center border border-gray-400 rounded-xl h-full">
        {% include 'mixins/user_avatar.html' with user=user %}
            
        <div class="flex flex-col mt-10 w-full px-1 font-medium space-y-5">
            {% if user.superhost %}
                <span><i class="fas fa-medal mr-2 text-xl"></i>Суперхозяин</span>
            {% endif %}
                <span>
                    <i class="fas fa-comment mr-2 text-xl"></i>
                    {% if user.rooms.reviews.all.count > 0 %}
                        {{user.rooms.reviews.all.count}}
                    {% else %}
                        Нет
                    {% endif %}
                    отзывов
                </span>
        </div>
    </div>
    <div class="flex flex-col w-full pl-16">
        <span class="text-3xl font-semibold">Здравствуйте, меня зовут {{user.first_name}}!</span>
        <span class="text-gray-600 text-sm">На Airbnb с {{user.date_joined|date:'Y'}}</span>
        <a href="{% url 'users:password' %}" class="btn__link mt-2">Изменить пароль</a>
        <div class="user__info">
            <h2 class="user__header">Информация</h2>
            <form method="POST" class="w-full space-y-2" enctype="multipart/form-data">
                {% csrf_token %}
                
                {% if form.non_field_errors %}
                    
                    {% for error in form.non_field_errors  %}
                        <span class="text-red-700 font-medium text-sm">{{error}}</span>
                    {% endfor %}
                    
                {% endif %}
            
                {% for field in form %}
                    {% include 'mixins/auth/form_input.html' with field=field %}
                {% endfor %}
                <div class="mt-10 flex justify-between">
                    <a class="btn__link btn w-32 hover:bg-gray-200" href="{{user.get_absolute_url}}">Отменить</a>
                    <button class="w-32 btn bg-black text-white">Сохранить</button>
                </div>
            </form>
        </div>
        {% if user.rooms.all.count > 0 %}     
            <div class="user__info">
                <h2 class="user__header">Объявления пользователя {{user.first_name}}</h2>
                <div class="flex flex-row flex-wrap">
                    {% for room in user.rooms.all %}
                        <div class="w-1/2 mb-10 p-2">
                            {% include 'mixins/room_card.html' with room=room %}
                        </div>
                    {% endfor %} 
                </div>
            </div>
        {% endif %}
    </div>
</div>


{% endblock content %}